
<div class="pos-f-t py-lg-4 py-md-3 py-sm-3 py-3">
 
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
        
            <ul>
                <li>12</li>
                <li>12</li>
                <li>12</li>
                <li>12</li>
                <li>12</li>
                <li>12</li>
                <li>12</li>
                <li>12</li>
                <li>12</li>
                <li>12</li>
            </ul>
            </div>
    </div>
</div>
