
@{
    ViewBag.Title = "DetailProduct";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}


@section header{

    <h4>Quản lý chi tiết Sản phẩm</h4>
}
@section jsFooter
{
    <script src="~/Acess/Admin/js/plugins/mustache.min.js"></script>
    <script src="~/Acess/Admin/js/Controller/productDetail.js"></script>
    
    

}


<div class="container">
    <div class="row">
        <div class="col-md-12 m-3 row">
            <div class="offset-md-8"></div>
            <div class="col-md-4 btn-circle">
                <input type="hidden" id="idProduct" value="@ViewBag.productId" />
                <a class="btn btn-danger text-white" id="btnAddNew">Thêm mới</a>
            </div>
        </div>

        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Name Product</td>
                        <td>Color</td>
                        <td>Size</td>
                        <td>Image</td>
                        <td>Price</td>
                        <td>Status</td>
                        <td>#</td>
                    </tr>
                </thead>
                <tbody id="dbTable"></tbody>
            </table>
            <div id="pagination" class="pagination">
            </div>

            <script id="data-template" type="x-tmpl-mustache">
                <tr>
                    <td>{{ID}}</td>
                    <td>{{ProductName}}</td>
                    <td>
                        <div style="color:{{Color}};"><i class="fab fa-cuttlefish fa-2x"></i></div>
                    </td>
                    <td>{{Size}}</td>
                    <td>{{Price}}</td>
                    <td>{{{Status}}}</td>
                    <td class="row">
                        <button class="btn btn-success btn-edit m-1 col-md-4 col-sm-6 " data-id="{{ID}}"><i class="far fa-edit  "></i></button>
                        <button class="btn btn-danger btn-delete m-1 col-md-4 col-sm-6" data-id="{{ID}}"><i class="fas fa-trash-alt"></i></button>
                    </td>
                </tr>
            </script>
        </div>
    </div>
</div>
<!-- Modal Insert -->
<div class="modal fade" id="InputDetailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Thêm mới danh mục</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form method="post" enctype="multipart/form-data">
                    <div class="row  mx-5">
                        <input type="hidden" id="idNum" name="ID" />
                 
                        <div class="form-group col-md-12 row mb-3">
                            <label class="col-md-4">Size sản phẩm</label>
                            <input type="text" id="size" name="size" >
                        </div>
                       <div class="form-group col-md-12 row mb-3">
                            <label class="col-md-4">Chọn chọn màu</label>
                           <input type="color" id="color" name="color" >
                           <input type="text" name="inputColor" id="inputColor" class="form-control"/>
                        </div>
                       <div class="form-group col-md-12 row mb-3">
                           <label class="col-md-4"> Giá</label>
                           <input type="number" class=" col-md-4 form-control" name="price" id="price" aria-describedby="helpId" placeholder="">
                       </div>
                        <div class="form-group col-md-12 row mb-3">
                            <label class="col-md-4"> trạng thái</label>
                            <input type="checkbox"
                                   class=" col-md-4" name="Status" id="statusckb" aria-describedby="helpId" placeholder="">
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            <button type="button" id="btnSubmit" class="btn btn-primary">Xác nhận</button>
                        </div>
                    </div>
                </form>



            </div>
        </div>
    </div>
    </div>