
@{
    ViewBag.Title = "DetailProduct";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}


@section header{
    <h4>Quản lý chi tiết Sản phẩm</h4>
}
@section jsFooter
{
    <script src="~/Acess/Admin/js/plugins/mustache.min.js"></script>
    <script src="~/Acess/Admin/js/Controller/ProductController.js"></script>
    <script src="~/Acess/Admin/js/plugins/jquery.twbsPagination.min.js"></script>
}


<div class="container">
    <div class="row">
        <div class="col-md-12 m-3 row">
            <div class="offset-md-8"></div>
            <div class="col-md-4 btn-circle">
                <a class="btn btn-danger" id="btnAddNew" href="/Admin/Product/Insert">Thêm mới</a>
            </div>
        </div>

        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Name Product</td>
                        <td>Color</td>
                        <td>Size</td>
                        <td>Image</td>
                        <td>Status</td>
                        <td>#</td>
                    </tr>
                </thead>
                <tbody id="dbTable"></tbody>
            </table>
            <div id="pagination" class="pagination">
            </div>

            <script id="data-template" type="x-tmpl-mustache">
                <tr>
                    <td>{{ID}}</td>
                    <td>{{Name}}</td>
                    <td>{{CategoryName}}</td>
                    <td>{{SubCategoryName}}</td>
                    <td id="ImageCol">
                        <img src=/Acess/Admin/img/product/{{ImageProduct}} alt="Image" height="100" width="100" />
                    </td>
                    <td>{{{Status}}}</td>
                    <td class="row">
                        <button class="btn btn-success btn-edit m-1 col-md-4 col-sm-6 " data-id="{{ID}}"><i class="far fa-edit  "></i></button>
                        <button class="btn btn-danger btn-delete m-1 col-md-4 col-sm-6" data-id="{{ID}}"><i class="fas fa-trash-alt"></i></button>
                        <button class="btn btn-success btn-images m-1 col-md-4 col-sm-6" data-id="{{ID}}"><i class="fas fa-images"></i></button>
                        <button class="btn btn-success btn-detail m-1 col-md-4 col-sm-6" data-id="{{ID}}"><i class="fas fa-file-archive"></i></button>
                    </td>
                </tr>
            </script>
        </div>
    </div>
</div>
